@tailwind base;
@tailwind components;
@tailwind utilities;

/* importing google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  background-color: black
}

.screen-container {
  @apply m-4 mt-5 mb-12 mx-24 max-w-full;
}

.gradient {
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-text {
  background: #ee0979;  /* fallback for old browsers */
  height: 1.5em;
  background-image: linear-gradient(to right, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.react-toastify__dark {
  background: black;
  color: white;
}

/* scrolling properties */

/* width */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.200);
  border-radius: 100px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 100px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}